{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#home">Inicio</a></li>
            <li><a href="#about">Tienda</a></li>
            <li><a href="#services">Carrito</a></li>
        </ul>
    </nav>
    <div class="product-list">
        {% for product in products %}
            <div class="product-card">
                <h2>{{ product.name }}</h2>
                <p>{{ product.desc }}</p>
                <p>Price: ${{ product.price }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>